
# Adapted from http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
    margin: 0px; padding: 0px; border: 0px;
}

html {
    height: 100%;
    overflow: auto; 
}

body {
    background: #aac;
    color: white;
    font-family: Arial, Helvetica, sans-serif; font-size: 18px; 
    position: fixed;
    width: 80%; 
    height: 95%;
    left: 9%;
    top: 0px;
    overflow:visible;
}

nav {
    background: #aac;
    font-size: 18px;  
    text-align: center;
}

nav ul ul {
    display: none;
    text-align: left
}

nav ul li:hover > ul {
    display: block;
}


nav ul {
    background: #111; 
    padding: 0 5px;
    list-style: none;
    position: relative;
    display: inline-table;
    border-radius: 5px;
}
    
nav ul:after {
    content: ""; clear: both; display: block;
}

    nav ul li {
        float: left;

    }
        nav ul li:hover {
            background: #aa0;
            border-radius: 1px;
        }
            nav ul li:hover a {
                color: #fff;
                border-radius: 1px;
            }
        
        nav ul li a {
            display: block; padding: 5px 20px;
            color: #fff; text-decoration: none;
            border-radius: 2px;
        }
            
        
    nav ul ul {
        background: #885500; border-radius: 2px; padding: 0;
        position: absolute; top: 100%;
    }
        nav ul ul li {
            float: none; 
            border-top: 1px solid #000;
            border-radius: 1px;
        }
            nav ul ul li a {
                padding: 5px 20px;
                color: #fff;
            }   
                nav ul ul li a:hover {
                    background: #aaaa00;
                }
        
    nav ul ul ul {
        position: absolute; left: 100%; top:5;
    }
        

font{
    font-family: Helvetica,Arial,sans-serif;
    color: #000;
}
td{
    vertical-align: top;
}